h1 {color: yellow;
    font-family: roboto;
    text-align: center;


}
h3{ text-align: center;
    
}
img{
    width: 700;
    display: block;
    margin-right: auto;
    margin-left: auto;

}
h4{ text-align: center;}


.linguere
{background-color: rgb(34, 34, 236) }
p{
    color: aliceblue;
}
.couleurnav
{background-color: rgb(3, 109, 3)}

